@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Planets app</h1>
    <p>Go to <a asp-controller="Planets">Planets</a>.</p>

    <div>
        <form asp-action="GenerateTestData" method="post">
            <button type="submit" class="btn btn-success">Generate test data</button>

        </form>
    </div>

</div>
