@model Planets.Models.Planet

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Planet</h1>


<div>
    <div class="my-2">
        Are you sure you want to delete <b>@Model.Name</b> planet?
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
