@model Planets.Models.PlanetProperty

@{
    ViewData["Title"] = "Details";
}

<h1>Planet Property Details</h1>

<div>Name: <b>@Model.Name</b></div>

<hr />

<h4>Property Values</h4>

<ul class="list-group">
    @foreach (var propertyValue in Model.PossibleValues)
    {
        <li class="list-group-item">
            <div>@propertyValue.Value</div>
        </li>
    }
</ul>

<div class="my-2">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
